<table class="vitals-table">
<tbody>
<tr>
<th>National №</th>
<td><strong>011</strong></td>
</tr>
<tr>
<th>Type</th>
<td>
<a class="type-icon type-bug" href="/type/bug">Bug</a> </td>
</tr>
<tr>
<th>Species</th>
<td>Cocoon Pokémon</td>
</tr>
<tr>
<th>Height</th>
<td>2′04″ (0.7 m)</td>
</tr>
<tr>
<th>Weight</th>
<td>21.8 lbs (9.9 kg)</td>
</tr>
<tr>
<th>Abilities</th>
<td>
<a href="/ability/shed-skin" title="The Pokémon may heal its own status problems.">Shed Skin</a><br>
</td>
</tr>
<tr>
<th>Local №</th>
<td>011 <small class="text-muted">(Red/Blue/Yellow)</small><br>025 <small class="text-muted">(Gold/Silver/Crystal)</small><br>011 <small class="text-muted">(FireRed/LeafGreen)</small><br>025 <small class="text-muted">(HeartGold/SoulSilver)</small><br>024 <small class="text-muted">(X/Y — Central Kalos)</small><br>018 <small class="text-muted">(Sun/Moon — Alola dex)</small><br>018 <small class="text-muted">(U.Sun/U.Moon — Alola dex)</small><br>
</td>
</tr>
</tbody>
</table><table class="vitals-table">
<tbody>
<tr>
<th>EV yield</th>
<td class="text">
2 Defense </td>
</tr>
<tr>
<th>Catch rate</th>
<td>120 <small class="text-muted">(15.7% with PokéBall, full HP)</small>
</td>
</tr>
<tr>
<th>Base <a href="/glossary#def-friendship">Friendship</a>
</th>
<td>70 <small class="text-muted">(normal)</small>
</td>
</tr>
<tr>
<th>Base Exp.</th>
<td>72</td>
</tr>
<tr>
<th>Growth Rate</th>
<td>Medium Fast</td>
</tr>
</tbody>
</table><table class="vitals-table">
<tbody>
<tr>
<th>Egg Groups</th>
<td>
<a href="/egg-group/bug">Bug</a> </td>
</tr>
<tr>
<th>Gender</th>
<td>
<span class="text-blue">50% male</span>, <span class="text-pink">50% female</span>
</td> </tr>
<tr>
<th><a href="/glossary#def-eggcycle">Egg cycles</a></th>
<td>15 <small class="text-muted">(base 3,840 steps)</small>
</td>
</tr>
</tbody>
</table><table class="vitals-table">
<tbody>
<tr>
<th>HP</th>
<td class="cell-num">50</td>
<td class="cell-barchart">
<div style="width:27.78%;" class="barchart-bar barchart-rank-2 "></div>
</td>
<td class="cell-num">210</td>
<td class="cell-num">304</td>
</tr>
<tr>
<th>Attack</th>
<td class="cell-num">20</td>
<td class="cell-barchart">
<div style="width:11.11%;" class="barchart-bar barchart-rank-1 "></div>
</td>
<td class="cell-num">40</td>
<td class="cell-num">152</td>
</tr>
<tr>
<th>Defense</th>
<td class="cell-num">55</td>
<td class="cell-barchart">
<div style="width:30.56%;" class="barchart-bar barchart-rank-2 "></div>
</td>
<td class="cell-num">103</td>
<td class="cell-num">229</td>
</tr>
<tr>
<th>Sp. Atk</th>
<td class="cell-num">25</td>
<td class="cell-barchart">
<div style="width:13.89%;" class="barchart-bar barchart-rank-1 "></div>
</td>
<td class="cell-num">49</td>
<td class="cell-num">163</td>
</tr>
<tr>
<th>Sp. Def</th>
<td class="cell-num">25</td>
<td class="cell-barchart">
<div style="width:13.89%;" class="barchart-bar barchart-rank-1 "></div>
</td>
<td class="cell-num">49</td>
<td class="cell-num">163</td>
</tr>
<tr>
<th>Speed</th>
<td class="cell-num">30</td>
<td class="cell-barchart">
<div style="width:16.67%;" class="barchart-bar barchart-rank-2 "></div>
</td>
<td class="cell-num">58</td>
<td class="cell-num">174</td>
</tr>
</tbody>
<tfoot>
<tr>
<th>Total</th>
<td class="cell-total"><b>205</b></td>
<th class="cell-barchart"></th>
<th>Min</th>
<th>Max</th>
</tr>
</tfoot>
</table><table class="type-table type-table-pokedex">
<tr>
<th><a class="type-icon type-normal type-cell type-abbr" href="/type/normal" title="Normal">Nor</a></th>
<th><a class="type-icon type-fire type-cell type-abbr" href="/type/fire" title="Fire">Fir</a></th>
<th><a class="type-icon type-water type-cell type-abbr" href="/type/water" title="Water">Wat</a></th>
<th><a class="type-icon type-electric type-cell type-abbr" href="/type/electric" title="Electric">Ele</a></th>
<th><a class="type-icon type-grass type-cell type-abbr" href="/type/grass" title="Grass">Gra</a></th>
<th><a class="type-icon type-ice type-cell type-abbr" href="/type/ice" title="Ice">Ice</a></th>
<th><a class="type-icon type-fighting type-cell type-abbr" href="/type/fighting" title="Fighting">Fig</a></th>
<th><a class="type-icon type-poison type-cell type-abbr" href="/type/poison" title="Poison">Poi</a></th>
<th><a class="type-icon type-ground type-cell type-abbr" href="/type/ground" title="Ground">Gro</a></th>
</tr>
<tr>
<td title="Normal → Bug = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Fire → Bug = super-effective" class="type-fx-cell type-fx-200">2</td>
<td title="Water → Bug = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Electric → Bug = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Grass → Bug = not very effective" class="type-fx-cell type-fx-50">½</td>
<td title="Ice → Bug = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Fighting → Bug = not very effective" class="type-fx-cell type-fx-50">½</td>
<td title="Poison → Bug = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Ground → Bug = not very effective" class="type-fx-cell type-fx-50">½</td>
</tr>
</table>
<table class="type-table type-table-pokedex">
<tr>
<th><a class="type-icon type-flying type-cell type-abbr" href="/type/flying" title="Flying">Fly</a></th>
<th><a class="type-icon type-psychic type-cell type-abbr" href="/type/psychic" title="Psychic">Psy</a></th>
<th><a class="type-icon type-bug type-cell type-abbr" href="/type/bug" title="Bug">Bug</a></th>
<th><a class="type-icon type-rock type-cell type-abbr" href="/type/rock" title="Rock">Roc</a></th>
<th><a class="type-icon type-ghost type-cell type-abbr" href="/type/ghost" title="Ghost">Gho</a></th>
<th><a class="type-icon type-dragon type-cell type-abbr" href="/type/dragon" title="Dragon">Dra</a></th>
<th><a class="type-icon type-dark type-cell type-abbr" href="/type/dark" title="Dark">Dar</a></th>
<th><a class="type-icon type-steel type-cell type-abbr" href="/type/steel" title="Steel">Ste</a></th>
<th><a class="type-icon type-fairy type-cell type-abbr" href="/type/fairy" title="Fairy">Fai</a></th>
</tr>
<tr>
<td title="Flying → Bug = super-effective" class="type-fx-cell type-fx-200">2</td>
<td title="Psychic → Bug = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Bug → Bug = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Rock → Bug = super-effective" class="type-fx-cell type-fx-200">2</td>
<td title="Ghost → Bug = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Dragon → Bug = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Dark → Bug = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Steel → Bug = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Fairy → Bug = normal effectiveness" class="type-fx-cell type-fx-100"></td>
</tr>
</table><table class="vitals-table"><tbody>
<tr> <th>
<span class="igame red">Red</span><br><span class="igame blue">Blue</span>
</th> <td class="cell-med-text">This POKéMON is vulnerable to attack while its shell is soft, exposing its weak and tender body.</td>
</tr>
<tr> <th><span class="igame yellow">Yellow</span></th> <td class="cell-med-text">Hardens its shell to protect itself. However, a large impact may cause it to pop out of its shell.</td>
</tr>
<tr> <th><span class="igame gold">Gold</span></th> <td class="cell-med-text">Inside the shell, it is soft and weak as it prepares to evolve. It stays motionless in the shell.</td>
</tr>
<tr> <th><span class="igame silver">Silver</span></th> <td class="cell-med-text">It prepares for evolution by hardening its shell as much as possible to protect its soft body.</td>
</tr>
<tr> <th><span class="igame crystal">Crystal</span></th> <td class="cell-med-text">This is its pre-evolved form. At this stage, it can only harden, so it remains motionless to avoid attack.</td>
</tr>
<tr> <th>
<span class="igame ruby">Ruby</span><br><span class="igame sapphire">Sapphire</span>
</th> <td class="cell-med-text">The shell covering this POKéMON’s body is as hard as an iron slab. METAPOD does not move very much. It stays still because it is preparing its soft innards for evolution inside the hard shell.</td>
</tr>
<tr> <th><span class="igame firered">FireRed</span></th> <td class="cell-med-text">Even though it is encased in a sturdy shell, the body inside is tender. It can’t withstand a harsh attack.</td>
</tr>
<tr> <th><span class="igame leafgreen">LeafGreen</span></th> <td class="cell-med-text">This POKéMON is vulnerable to attack while its shell is soft, exposing its weak and tender body.</td>
</tr>
<tr> <th><span class="igame emerald">Emerald</span></th> <td class="cell-med-text">Its shell is as hard as an iron slab. A METAPOD does not move very much because it is preparing its soft innards for evolution inside the shell.</td>
</tr>
<tr> <th>
<span class="igame diamond">Diamond</span><br><span class="igame pearl">Pearl</span><br><span class="igame platinum">Platinum</span>
</th> <td class="cell-med-text">A steel-hard shell protects its tender body. It quietly endures hardships while awaiting evolution.</td>
</tr>
<tr> <th><span class="igame heartgold">HeartGold</span></th> <td class="cell-med-text">Inside the shell, it is soft and weak as it prepares to evolve. It stays motionless in the shell.</td>
</tr>
<tr> <th><span class="igame soulsilver">SoulSilver</span></th> <td class="cell-med-text">It prepares for evolution by hardening its shell as much as possible to protect its soft body.</td>
</tr>
<tr> <th>
<span class="igame black">Black</span><br><span class="igame white">White</span><br><span class="igame black-2">Black 2</span><br><span class="igame white-2">White 2</span>
</th> <td class="cell-med-text">A steel-hard shell protects its tender body. It quietly endures hardships while awaiting evolution.</td>
</tr>
<tr> <th><span class="igame x">X</span></th> <td class="cell-med-text">A steel-hard shell protects its tender body. It quietly endures hardships while awaiting evolution.</td>
</tr>
<tr> <th><span class="igame y">Y</span></th> <td class="cell-med-text">This Pokémon is vulnerable to attack while its shell is soft, exposing its weak and tender body.</td>
</tr>
<tr> <th>
<span class="igame omega-ruby">Omega Ruby</span><br><span class="igame alpha-sapphire">Alpha Sapphire</span>
</th> <td class="cell-med-text">The shell covering this Pokémon’s body is as hard as an iron slab. Metapod does not move very much. It stays still because it is preparing its soft innards for evolution inside the hard shell.</td>
</tr>
<tr> <th><span class="igame sun">Sun</span></th> <td class="cell-med-text">Its shell is filled with its soft innards. It doesn’t move much because of the risk it might carelessly spill its innards out.</td>
</tr>
<tr> <th><span class="igame moon">Moon</span></th> <td class="cell-med-text">Its shell is hard, but it’s still just a bug shell. It’s been known to break, so intense battles with it should be avoided.</td>
</tr>
<tr> <th><span class="igame ultra-sun">Ultra Sun</span></th> <td class="cell-med-text">Its shell is filled with a thick liquid. All of the cells throughout its body are being rebuilt in preparation for evolution.</td>
</tr>
<tr> <th><span class="igame ultra-moon">Ultra Moon</span></th> <td class="cell-med-text">Its hard shell doesn’t crack a bit even if Pikipek pecks at it, but it will tip over, spilling out its insides.</td>
</tr>
</tbody></table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="int"><div class="sortwrap">Lv.</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> </tr></thead>
<tbody><tr>
<td class="cell-num">1</td>
<td class="cell-name"><a class="ent-name" href="/move/harden" title="View details for Harden">Harden</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr></tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> </tr></thead>
<tbody><tr>
<td class="cell-name"><a class="ent-name" href="/move/harden" title="View details for Harden">Harden</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr></tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> </tr></thead>
<tbody>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/bug-bite" title="View details for Bug Bite">Bug Bite</a></td>
<td class="cell-icon"><a class="type-icon type-bug" href="/type/bug">Bug</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/electroweb" title="View details for Electroweb">Electroweb</a></td>
<td class="cell-icon"><a class="type-icon type-electric" href="/type/electric">Electric</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">55</td> <td class="cell-num">95</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/iron-defense" title="View details for Iron Defense">Iron Defense</a></td>
<td class="cell-icon"><a class="type-icon type-steel" href="/type/steel">Steel</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
</tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> <th><div class="sortwrap">Method</div></th> </tr></thead>
<tbody>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/bug-bite" title="View details for Bug Bite">Bug Bite</a></td>
<td class="cell-icon"><a class="type-icon type-bug" href="/type/bug">Bug</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num">100</td>
<td class="text-small">Level up</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/string-shot" title="View details for String Shot">String Shot</a></td>
<td class="cell-icon"><a class="type-icon type-bug" href="/type/bug">Bug</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">95</td>
<td class="text-small">Level up</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/tackle" title="View details for Tackle">Tackle</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">40</td> <td class="cell-num">100</td>
<td class="text-small">Level up</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/snore" title="View details for Snore">Snore</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">50</td> <td class="cell-num">100</td>
<td class="text-small">Move tutor</td>
</tr>
</tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="int"><div class="sortwrap">Lv.</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> </tr></thead>
<tbody><tr>
<td class="cell-num">1</td>
<td class="cell-name"><a class="ent-name" href="/move/harden" title="View details for Harden">Harden</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr></tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> </tr></thead>
<tbody><tr>
<td class="cell-name"><a class="ent-name" href="/move/harden" title="View details for Harden">Harden</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr></tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> <th><div class="sortwrap">Method</div></th> </tr></thead>
<tbody>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/bug-bite" title="View details for Bug Bite">Bug Bite</a></td>
<td class="cell-icon"><a class="type-icon type-bug" href="/type/bug">Bug</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num">100</td>
<td class="text-small">Level up</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/string-shot" title="View details for String Shot">String Shot</a></td>
<td class="cell-icon"><a class="type-icon type-bug" href="/type/bug">Bug</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">95</td>
<td class="text-small">Level up</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/tackle" title="View details for Tackle">Tackle</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">40</td> <td class="cell-num">100</td>
<td class="text-small">Level up</td>
</tr>
</tbody>
</table><table class="data-table sprites-table sprites-history-table" data-pkname="Metapod" data-pkalias="metapod">
<thead>
<tr>
<th>Type</th>
<th>Generation 1</th>
<th>Generation 2</th>
<th>Generation 3</th>
<th>Generation 4</th>
<th>Generation 5</th>
<th>Generation 6</th>
<th>Generation 7</th>
</tr>
</thead>
<tbody>
<tr>
<td><b>Normal</b></td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/red-blue/normal/metapod.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v1" src="https://img.pokemondb.net/sprites/red-blue/normal/metapod.png" alt="Metapod  sprite from Red &amp; Blue"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/silver/normal/metapod.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v3" src="https://img.pokemondb.net/sprites/silver/normal/metapod.png" alt="Metapod  sprite from Silver"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/ruby-sapphire/normal/metapod.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v5" src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/metapod.png" alt="Metapod  sprite from Ruby &amp; Sapphire"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/diamond-pearl/normal/metapod.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v8" src="https://img.pokemondb.net/sprites/diamond-pearl/normal/metapod.png" alt="Metapod  sprite from Diamond &amp; Pearl"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/black-white/normal/metapod.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v11" src="https://img.pokemondb.net/sprites/black-white/normal/metapod.png" alt="Metapod  sprite from Black &amp; White"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/x-y/normal/metapod.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v13" src="https://img.pokemondb.net/sprites/x-y/normal/metapod.png" alt="Metapod  sprite from X &amp; Y" style="width:120px; height:120px"></a> </td>
<td class="text-center">
—
</td>
</tr>
<tr>
<td><b>Shiny</b></td>
<td class="text-center">
—
</td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/silver/shiny/metapod.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v3" src="https://img.pokemondb.net/sprites/silver/shiny/metapod.png" alt="Metapod Shiny sprite from Silver"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/ruby-sapphire/shiny/metapod.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v5" src="https://img.pokemondb.net/sprites/ruby-sapphire/shiny/metapod.png" alt="Metapod Shiny sprite from Ruby &amp; Sapphire"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/diamond-pearl/shiny/metapod.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v8" src="https://img.pokemondb.net/sprites/diamond-pearl/shiny/metapod.png" alt="Metapod Shiny sprite from Diamond &amp; Pearl"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/black-white/shiny/metapod.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v11" src="https://img.pokemondb.net/sprites/black-white/shiny/metapod.png" alt="Metapod Shiny sprite from Black &amp; White"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/x-y/shiny/metapod.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v13" src="https://img.pokemondb.net/sprites/x-y/shiny/metapod.png" alt="Metapod Shiny sprite from X &amp; Y" style="width:120px; height:120px"></a> </td>
<td class="text-center">
—
</td>
</tr>
</tbody>
</table><table class="vitals-table">
<tbody>
<tr>
<th><span class="igame red">Red</span></th>
<td>
<a href="/location/kanto-route-25">Route 25</a>, <a href="/location/kanto-viridian-forest">Viridian Forest</a>
</td>
</tr>
<tr>
<th><span class="igame blue">Blue</span></th>
<td>
<a href="/location/kanto-route-24">Route 24</a>, <a href="/location/kanto-route-25">25</a>, <a href="/location/kanto-viridian-forest">Viridian Forest</a>
</td>
</tr>
<tr>
<th><span class="igame yellow">Yellow</span></th>
<td><a href="/location/kanto-viridian-forest">Viridian Forest</a></td>
</tr>
<tr>
<th><span class="igame gold">Gold</span></th>
<td>
<a href="/location/kanto-route-2">Route 2</a>, <a href="/location/kanto-route-26">26</a>, <a href="/location/kanto-route-27">27</a>, <a href="/location/johto-route-30">30</a>, <a href="/location/johto-route-31">31</a>, <a href="/location/johto-route-34">34</a>, <a href="/location/johto-route-35">35</a>, <a href="/location/johto-route-36">36</a>, <a href="/location/johto-route-37">37</a>, <a href="/location/johto-route-38">38</a>, <a href="/location/johto-route-39">39</a>, <a href="/location/johto-azalea-town">Azalea Town</a>, <a href="/location/johto-ilex-forest">Ilex Forest</a>, <a href="/location/johto-lake-of-rage">Lake of Rage</a>, <a href="/location/johto-national-park">National Park</a>
</td>
</tr>
<tr>
<th><span class="igame silver">Silver</span></th>
<td><a href="/location/johto-national-park">National Park</a></td>
</tr>
<tr>
<th><span class="igame crystal">Crystal</span></th>
<td>
<a href="/location/kanto-route-24">Route 24</a>, <a href="/location/kanto-route-25">25</a>, <a href="/location/johto-ilex-forest">Ilex Forest</a>, <a href="/location/johto-national-park">National Park</a>
</td>
</tr>
<tr>
<th>
<span class="igame ruby">Ruby</span><br><span class="igame sapphire">Sapphire</span>
</th>
<td><small>Trade/migrate from another game</small></td>
</tr>
<tr>
<th>
<span class="igame firered">FireRed</span><br><span class="igame leafgreen">LeafGreen</span>
</th>
<td>
<a href="/location/kanto-route-24">Route 24</a>, <a href="/location/kanto-route-25">25</a>, <a href="/location/kanto-pattern-bush">Pattern Bush</a>, <a href="/location/kanto-viridian-forest">Viridian Forest</a>
</td>
</tr>
<tr>
<th><span class="igame emerald">Emerald</span></th>
<td><small>Trade/migrate from another game</small></td>
</tr>
<tr>
<th>
<span class="igame diamond">Diamond</span><br><span class="igame pearl">Pearl</span><br><span class="igame platinum">Platinum</span>
</th>
<td><a href="/location/sinnoh-eterna-forest">Eterna Forest</a></td>
</tr>
<tr>
<th><span class="igame heartgold">HeartGold</span></th>
<td>
<a href="/location/kanto-route-2">Route 2</a>, <a href="/location/johto-route-30">30</a>, <a href="/location/johto-route-31">31</a>, <a href="/location/johto-route-47">47</a>, <a href="/location/johto-ilex-forest">Ilex Forest</a>, <a href="/location/johto-national-park">National Park</a>, <a href="/location/kanto-viridian-forest">Viridian Forest</a>
</td>
</tr>
<tr>
<th><span class="igame soulsilver">SoulSilver</span></th>
<td><a href="/location/johto-national-park">National Park</a></td>
</tr>
<tr>
<th><span class="igame black">Black</span></th>
<td><small>Trade/migrate from another game</small></td>
</tr>
<tr>
<th><span class="igame white">White</span></th>
<td><a href="/location/unova-route-12">Route 12</a></td>
</tr>
<tr>
<th>
<span class="igame black-2">Black 2</span><br><span class="igame white-2">White 2</span>
</th>
<td><small>Trade/migrate from another game</small></td>
</tr>
<tr>
<th><span class="igame x">X</span></th>
<td><small>Evolve <a href="/pokedex/caterpie">Caterpie</a></small></td>
</tr>
<tr>
<th><span class="igame y">Y</span></th>
<td><a href="/location/kalos-santalune-forest">Santalune Forest</a></td>
</tr>
<tr>
<th>
<span class="igame omega-ruby">Omega Ruby</span><br><span class="igame alpha-sapphire">Alpha Sapphire</span>
</th>
<td><small>Trade/migrate from another game</small></td>
</tr>
<tr>
<th>
<span class="igame sun">Sun</span><br><span class="igame moon">Moon</span>
</th>
<td>
<a href="/location/alola-route-1">Route 1</a>, <a href="/location/alola-route-5">5</a>, <a href="/location/alola-melemele-meadow">Melemele Meadow</a>, <a href="/location/alola-lush-jungle">Lush Jungle</a>
</td>
</tr>
<tr>
<th>
<span class="igame ultra-sun">Ultra Sun</span><br><span class="igame ultra-moon">Ultra Moon</span>
</th>
<td>
<a href="/location/alola-route-5">Route 5</a>, <a href="/location/alola-melemele-meadow">Melemele Meadow</a>, <a href="/location/alola-lush-jungle">Lush Jungle</a>
</td>
</tr>
</tbody>
</table><table class="vitals-table">
<tbody>
<tr>
<th>English</th>
<td>Metapod</td>
</tr>
<tr>
<th>Japanese</th>
<td>トランセル (Transel)</td>
</tr>
<tr>
<th>German</th>
<td>Safcon</td>
</tr>
<tr>
<th>French</th>
<td>Chrysacier</td>
</tr>
</tbody>
</table>