<table class="vitals-table">
<tbody>
<tr>
<th>National №</th>
<td><strong>090</strong></td>
</tr>
<tr>
<th>Type</th>
<td>
<a class="type-icon type-water" href="/type/water">Water</a> </td>
</tr>
<tr>
<th>Species</th>
<td>Bivalve Pokémon</td>
</tr>
<tr>
<th>Height</th>
<td>1′00″ (0.3 m)</td>
</tr>
<tr>
<th>Weight</th>
<td>8.8 lbs (4.0 kg)</td>
</tr>
<tr>
<th>Abilities</th>
<td>
<a href="/ability/shell-armor" title="The Pokémon is protected against critical hits.">Shell Armor</a><br><a href="/ability/skill-link" title="Increases the frequency of multi-strike moves.">Skill Link</a><br><small class="text-muted"><a href="/ability/overcoat" title="Protects the Pokémon from damage from weather.">Overcoat</a> (hidden ability)</small><br>
</td>
</tr>
<tr>
<th>Local №</th>
<td>090 <small class="text-muted">(Red/Blue/Yellow)</small><br>169 <small class="text-muted">(Gold/Silver/Crystal)</small><br>090 <small class="text-muted">(FireRed/LeafGreen)</small><br>171 <small class="text-muted">(HeartGold/SoulSilver)</small><br>036 <small class="text-muted">(X/Y — Coastal Kalos)</small><br>115 <small class="text-muted">(Sun/Moon — Alola dex)</small><br>138 <small class="text-muted">(U.Sun/U.Moon — Alola dex)</small><br>
</td>
</tr>
</tbody>
</table><table class="vitals-table">
<tbody>
<tr>
<th>EV yield</th>
<td class="text">
1 Defense </td>
</tr>
<tr>
<th>Catch rate</th>
<td>190 <small class="text-muted">(24.8% with PokéBall, full HP)</small>
</td>
</tr>
<tr>
<th>Base <a href="/glossary#def-friendship">Friendship</a>
</th>
<td>70 <small class="text-muted">(normal)</small>
</td>
</tr>
<tr>
<th>Base Exp.</th>
<td>61</td>
</tr>
<tr>
<th>Growth Rate</th>
<td>Slow</td>
</tr>
</tbody>
</table><table class="vitals-table">
<tbody>
<tr>
<th>Egg Groups</th>
<td>
<a href="/egg-group/water-3">Water 3</a> </td>
</tr>
<tr>
<th>Gender</th>
<td>
<span class="text-blue">50% male</span>, <span class="text-pink">50% female</span>
</td> </tr>
<tr>
<th><a href="/glossary#def-eggcycle">Egg cycles</a></th>
<td>20 <small class="text-muted">(base 5,120 steps)</small>
</td>
</tr>
</tbody>
</table><table class="vitals-table">
<tbody>
<tr>
<th>HP</th>
<td class="cell-num">30</td>
<td class="cell-barchart">
<div style="width:16.67%;" class="barchart-bar barchart-rank-2 "></div>
</td>
<td class="cell-num">170</td>
<td class="cell-num">264</td>
</tr>
<tr>
<th>Attack</th>
<td class="cell-num">65</td>
<td class="cell-barchart">
<div style="width:36.11%;" class="barchart-bar barchart-rank-3 "></div>
</td>
<td class="cell-num">121</td>
<td class="cell-num">251</td>
</tr>
<tr>
<th>Defense</th>
<td class="cell-num">100</td>
<td class="cell-barchart">
<div style="width:55.56%;" class="barchart-bar barchart-rank-4 "></div>
</td>
<td class="cell-num">184</td>
<td class="cell-num">328</td>
</tr>
<tr>
<th>Sp. Atk</th>
<td class="cell-num">45</td>
<td class="cell-barchart">
<div style="width:25.00%;" class="barchart-bar barchart-rank-2 "></div>
</td>
<td class="cell-num">85</td>
<td class="cell-num">207</td>
</tr>
<tr>
<th>Sp. Def</th>
<td class="cell-num">25</td>
<td class="cell-barchart">
<div style="width:13.89%;" class="barchart-bar barchart-rank-1 "></div>
</td>
<td class="cell-num">49</td>
<td class="cell-num">163</td>
</tr>
<tr>
<th>Speed</th>
<td class="cell-num">40</td>
<td class="cell-barchart">
<div style="width:22.22%;" class="barchart-bar barchart-rank-2 "></div>
</td>
<td class="cell-num">76</td>
<td class="cell-num">196</td>
</tr>
</tbody>
<tfoot>
<tr>
<th>Total</th>
<td class="cell-total"><b>305</b></td>
<th class="cell-barchart"></th>
<th>Min</th>
<th>Max</th>
</tr>
</tfoot>
</table><table class="type-table type-table-pokedex">
<tr>
<th><a class="type-icon type-normal type-cell type-abbr" href="/type/normal" title="Normal">Nor</a></th>
<th><a class="type-icon type-fire type-cell type-abbr" href="/type/fire" title="Fire">Fir</a></th>
<th><a class="type-icon type-water type-cell type-abbr" href="/type/water" title="Water">Wat</a></th>
<th><a class="type-icon type-electric type-cell type-abbr" href="/type/electric" title="Electric">Ele</a></th>
<th><a class="type-icon type-grass type-cell type-abbr" href="/type/grass" title="Grass">Gra</a></th>
<th><a class="type-icon type-ice type-cell type-abbr" href="/type/ice" title="Ice">Ice</a></th>
<th><a class="type-icon type-fighting type-cell type-abbr" href="/type/fighting" title="Fighting">Fig</a></th>
<th><a class="type-icon type-poison type-cell type-abbr" href="/type/poison" title="Poison">Poi</a></th>
<th><a class="type-icon type-ground type-cell type-abbr" href="/type/ground" title="Ground">Gro</a></th>
</tr>
<tr>
<td title="Normal → Water = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Fire → Water = not very effective" class="type-fx-cell type-fx-50">½</td>
<td title="Water → Water = not very effective" class="type-fx-cell type-fx-50">½</td>
<td title="Electric → Water = super-effective" class="type-fx-cell type-fx-200">2</td>
<td title="Grass → Water = super-effective" class="type-fx-cell type-fx-200">2</td>
<td title="Ice → Water = not very effective" class="type-fx-cell type-fx-50">½</td>
<td title="Fighting → Water = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Poison → Water = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Ground → Water = normal effectiveness" class="type-fx-cell type-fx-100"></td>
</tr>
</table>
<table class="type-table type-table-pokedex">
<tr>
<th><a class="type-icon type-flying type-cell type-abbr" href="/type/flying" title="Flying">Fly</a></th>
<th><a class="type-icon type-psychic type-cell type-abbr" href="/type/psychic" title="Psychic">Psy</a></th>
<th><a class="type-icon type-bug type-cell type-abbr" href="/type/bug" title="Bug">Bug</a></th>
<th><a class="type-icon type-rock type-cell type-abbr" href="/type/rock" title="Rock">Roc</a></th>
<th><a class="type-icon type-ghost type-cell type-abbr" href="/type/ghost" title="Ghost">Gho</a></th>
<th><a class="type-icon type-dragon type-cell type-abbr" href="/type/dragon" title="Dragon">Dra</a></th>
<th><a class="type-icon type-dark type-cell type-abbr" href="/type/dark" title="Dark">Dar</a></th>
<th><a class="type-icon type-steel type-cell type-abbr" href="/type/steel" title="Steel">Ste</a></th>
<th><a class="type-icon type-fairy type-cell type-abbr" href="/type/fairy" title="Fairy">Fai</a></th>
</tr>
<tr>
<td title="Flying → Water = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Psychic → Water = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Bug → Water = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Rock → Water = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Ghost → Water = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Dragon → Water = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Dark → Water = normal effectiveness" class="type-fx-cell type-fx-100"></td>
<td title="Steel → Water = not very effective" class="type-fx-cell type-fx-50">½</td>
<td title="Fairy → Water = normal effectiveness" class="type-fx-cell type-fx-100"></td>
</tr>
</table><table class="vitals-table"><tbody>
<tr> <th>
<span class="igame red">Red</span><br><span class="igame blue">Blue</span>
</th> <td class="cell-med-text">Its hard shell repels any kind of attack. It is vulnerable only when its shell is open.</td>
</tr>
<tr> <th><span class="igame yellow">Yellow</span></th> <td class="cell-med-text">The shell can withstand any attack. However, when it is open, the tender body is exposed.</td>
</tr>
<tr> <th><span class="igame gold">Gold</span></th> <td class="cell-med-text">It swims facing backward by opening and closing its two-piece shell. It is surprisingly fast.</td>
</tr>
<tr> <th><span class="igame silver">Silver</span></th> <td class="cell-med-text">Grains of sand trapped in its shells mix with its body fluids to form beautiful pearls.</td>
</tr>
<tr> <th><span class="igame crystal">Crystal</span></th> <td class="cell-med-text">Clamping on to an opponent reveals its vulnerable parts, so it uses this move only as a last resort.</td>
</tr>
<tr> <th>
<span class="igame ruby">Ruby</span><br><span class="igame sapphire">Sapphire</span>
</th> <td class="cell-med-text">At night, this POKéMON uses its broad tongue to burrow a hole in the seafloor sand and then sleep in it. While it is sleeping, SHELLDER closes its shell, but leaves its tongue hanging out.</td>
</tr>
<tr> <th><span class="igame firered">FireRed</span></th> <td class="cell-med-text">It is encased in a shell that is harder than diamond. Inside, however, it is surprisingly tender.</td>
</tr>
<tr> <th><span class="igame leafgreen">LeafGreen</span></th> <td class="cell-med-text">Its hard shell repels any kind of attack. It is vulnerable only when its shell is open.</td>
</tr>
<tr> <th><span class="igame emerald">Emerald</span></th> <td class="cell-med-text">At night, it burrows a hole in the seafloor with its broad tongue to make a place to sleep. While asleep, it closes its shell, but leaves its tongue hanging out.</td>
</tr>
<tr> <th>
<span class="igame diamond">Diamond</span><br><span class="igame pearl">Pearl</span><br><span class="igame platinum">Platinum</span>
</th> <td class="cell-med-text">It swims backward by opening and closing its two shells. Its large tongue is always kept hanging out.</td>
</tr>
<tr> <th><span class="igame heartgold">HeartGold</span></th> <td class="cell-med-text">It swims facing backward by opening and closing its two-piece shell. It is surprisingly fast.</td>
</tr>
<tr> <th><span class="igame soulsilver">SoulSilver</span></th> <td class="cell-med-text">Grains of sand trapped in its shells mix with its body fluids to form beautiful pearls.</td>
</tr>
<tr> <th>
<span class="igame black">Black</span><br><span class="igame white">White</span><br><span class="igame black-2">Black 2</span><br><span class="igame white-2">White 2</span>
</th> <td class="cell-med-text">It swims backward by opening and closing its two shells. Its large tongue is always kept hanging out.</td>
</tr>
<tr> <th><span class="igame x">X</span></th> <td class="cell-med-text">Its hard shell repels any kind of attack. It is vulnerable only when its shell is open.</td>
</tr>
<tr> <th><span class="igame y">Y</span></th> <td class="cell-med-text">Clamping on to an opponent reveals its vulnerable parts, so it uses this move only as a last resort.</td>
</tr>
<tr> <th>
<span class="igame omega-ruby">Omega Ruby</span><br><span class="igame alpha-sapphire">Alpha Sapphire</span>
</th> <td class="cell-med-text">At night, this Pokémon uses its broad tongue to burrow a hole in the seafloor sand and then sleep in it. While it is sleeping, Shellder closes its shell, but leaves its tongue hanging out.</td>
</tr>
<tr> <th><span class="igame sun">Sun</span></th> <td class="cell-med-text">The hardness of its shell surpasses the hardness of a diamond. In days gone by, people used the shells to make shields.</td>
</tr>
<tr> <th><span class="igame moon">Moon</span></th> <td class="cell-med-text">This Pokémon’s tongue is always hanging out. It uses its tongue with great dexterity to dig up sand from the seabed in its search for food.</td>
</tr>
<tr> <th><span class="igame ultra-sun">Ultra Sun</span></th> <td class="cell-med-text">The sand that accumulates inside its shell eventually becomes a pearl. But the pearl gets in the way, so it spits it out and discards it.</td>
</tr>
<tr> <th><span class="igame ultra-moon">Ultra Moon</span></th> <td class="cell-med-text">Even when its shell is closed, its tongue still hangs out. If you give its tongue a good yank, the shock will cause Shellder to open its shell.</td>
</tr>
</tbody></table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="int"><div class="sortwrap">Lv.</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> </tr></thead>
<tbody>
<tr>
<td class="cell-num">1</td>
<td class="cell-name"><a class="ent-name" href="/move/tackle" title="View details for Tackle">Tackle</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">40</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">1</td>
<td class="cell-name"><a class="ent-name" href="/move/water-gun" title="View details for Water Gun">Water Gun</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">40</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">4</td>
<td class="cell-name"><a class="ent-name" href="/move/withdraw" title="View details for Withdraw">Withdraw</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">8</td>
<td class="cell-name"><a class="ent-name" href="/move/supersonic" title="View details for Supersonic">Supersonic</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">55</td>
</tr>
<tr>
<td class="cell-num">13</td>
<td class="cell-name"><a class="ent-name" href="/move/icicle-spear" title="View details for Icicle Spear">Icicle Spear</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">25</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">16</td>
<td class="cell-name"><a class="ent-name" href="/move/protect" title="View details for Protect">Protect</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">20</td>
<td class="cell-name"><a class="ent-name" href="/move/leer" title="View details for Leer">Leer</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">25</td>
<td class="cell-name"><a class="ent-name" href="/move/clamp" title="View details for Clamp">Clamp</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">35</td> <td class="cell-num">85</td>
</tr>
<tr>
<td class="cell-num">28</td>
<td class="cell-name"><a class="ent-name" href="/move/ice-shard" title="View details for Ice Shard">Ice Shard</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">40</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">32</td>
<td class="cell-name"><a class="ent-name" href="/move/razor-shell" title="View details for Razor Shell">Razor Shell</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">75</td> <td class="cell-num">95</td>
</tr>
<tr>
<td class="cell-num">37</td>
<td class="cell-name"><a class="ent-name" href="/move/aurora-beam" title="View details for Aurora Beam">Aurora Beam</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">65</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">40</td>
<td class="cell-name"><a class="ent-name" href="/move/whirlpool" title="View details for Whirlpool">Whirlpool</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">35</td> <td class="cell-num">85</td>
</tr>
<tr>
<td class="cell-num">44</td>
<td class="cell-name"><a class="ent-name" href="/move/brine" title="View details for Brine">Brine</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">65</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">49</td>
<td class="cell-name"><a class="ent-name" href="/move/iron-defense" title="View details for Iron Defense">Iron Defense</a></td>
<td class="cell-icon"><a class="type-icon type-steel" href="/type/steel">Steel</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">52</td>
<td class="cell-name"><a class="ent-name" href="/move/ice-beam" title="View details for Ice Beam">Ice Beam</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">90</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">56</td>
<td class="cell-name"><a class="ent-name" href="/move/shell-smash" title="View details for Shell Smash">Shell Smash</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">61</td>
<td class="cell-name"><a class="ent-name" href="/move/hydro-pump" title="View details for Hydro Pump">Hydro Pump</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">110</td> <td class="cell-num">80</td>
</tr>
</tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> </tr></thead>
<tbody>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/aqua-ring" title="View details for Aqua Ring">Aqua Ring</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/avalanche" title="View details for Avalanche">Avalanche</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/barrier" title="View details for Barrier">Barrier</a></td>
<td class="cell-icon"><a class="type-icon type-psychic" href="/type/psychic">Psychic</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/bubble-beam" title="View details for Bubble Beam">Bubble Beam</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">65</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/icicle-spear" title="View details for Icicle Spear">Icicle Spear</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">25</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/mud-shot" title="View details for Mud Shot">Mud Shot</a></td>
<td class="cell-icon"><a class="type-icon type-ground" href="/type/ground">Ground</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">55</td> <td class="cell-num">95</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/rapid-spin" title="View details for Rapid Spin">Rapid Spin</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">20</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/rock-blast" title="View details for Rock Blast">Rock Blast</a></td>
<td class="cell-icon"><a class="type-icon type-rock" href="/type/rock">Rock</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">25</td> <td class="cell-num">90</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/screech" title="View details for Screech">Screech</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">85</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/take-down" title="View details for Take Down">Take Down</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">90</td> <td class="cell-num">85</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/twineedle" title="View details for Twineedle">Twineedle</a></td>
<td class="cell-icon"><a class="type-icon type-bug" href="/type/bug">Bug</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">25</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/water-pulse" title="View details for Water Pulse">Water Pulse</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num">100</td>
</tr>
</tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> </tr></thead>
<tbody>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/icy-wind" title="View details for Icy Wind">Icy Wind</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">55</td> <td class="cell-num">95</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/iron-defense" title="View details for Iron Defense">Iron Defense</a></td>
<td class="cell-icon"><a class="type-icon type-steel" href="/type/steel">Steel</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/liquidation" title="View details for Liquidation">Liquidation</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">85</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/snore" title="View details for Snore">Snore</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">50</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/water-pulse" title="View details for Water Pulse">Water Pulse</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num">100</td>
</tr>
</tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="int"><div class="sortwrap">TM</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> </tr></thead>
<tbody>
<tr>
<td class="cell-num">6</td>
<td class="cell-name"><a class="ent-name" href="/move/toxic" title="View details for Toxic">Toxic</a></td>
<td class="cell-icon"><a class="type-icon type-poison" href="/type/poison">Poison</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">90</td>
</tr>
<tr>
<td class="cell-num">7</td>
<td class="cell-name"><a class="ent-name" href="/move/hail" title="View details for Hail">Hail</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">10</td>
<td class="cell-name"><a class="ent-name" href="/move/hidden-power" title="View details for Hidden Power">Hidden Power</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">13</td>
<td class="cell-name"><a class="ent-name" href="/move/ice-beam" title="View details for Ice Beam">Ice Beam</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">90</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">14</td>
<td class="cell-name"><a class="ent-name" href="/move/blizzard" title="View details for Blizzard">Blizzard</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">110</td> <td class="cell-num">70</td>
</tr>
<tr>
<td class="cell-num">17</td>
<td class="cell-name"><a class="ent-name" href="/move/protect" title="View details for Protect">Protect</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">18</td>
<td class="cell-name"><a class="ent-name" href="/move/rain-dance" title="View details for Rain Dance">Rain Dance</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">21</td>
<td class="cell-name"><a class="ent-name" href="/move/frustration" title="View details for Frustration">Frustration</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">27</td>
<td class="cell-name"><a class="ent-name" href="/move/return" title="View details for Return">Return</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">32</td>
<td class="cell-name"><a class="ent-name" href="/move/double-team" title="View details for Double Team">Double Team</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">42</td>
<td class="cell-name"><a class="ent-name" href="/move/facade" title="View details for Facade">Facade</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">70</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">44</td>
<td class="cell-name"><a class="ent-name" href="/move/rest" title="View details for Rest">Rest</a></td>
<td class="cell-icon"><a class="type-icon type-psychic" href="/type/psychic">Psychic</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">45</td>
<td class="cell-name"><a class="ent-name" href="/move/attract" title="View details for Attract">Attract</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">48</td>
<td class="cell-name"><a class="ent-name" href="/move/round" title="View details for Round">Round</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">64</td>
<td class="cell-name"><a class="ent-name" href="/move/explosion" title="View details for Explosion">Explosion</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">250</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">66</td>
<td class="cell-name"><a class="ent-name" href="/move/payback" title="View details for Payback">Payback</a></td>
<td class="cell-icon"><a class="type-icon type-dark" href="/type/dark">Dark</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">50</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">87</td>
<td class="cell-name"><a class="ent-name" href="/move/swagger" title="View details for Swagger">Swagger</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">85</td>
</tr>
<tr>
<td class="cell-num">88</td>
<td class="cell-name"><a class="ent-name" href="/move/sleep-talk" title="View details for Sleep Talk">Sleep Talk</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">90</td>
<td class="cell-name"><a class="ent-name" href="/move/substitute" title="View details for Substitute">Substitute</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">94</td>
<td class="cell-name"><a class="ent-name" href="/move/surf" title="View details for Surf">Surf</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">90</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">100</td>
<td class="cell-name"><a class="ent-name" href="/move/confide" title="View details for Confide">Confide</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
</tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> <th><div class="sortwrap">Method</div></th> </tr></thead>
<tbody>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/bide" title="View details for Bide">Bide</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
<td class="text-small">Generation 1 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/rage" title="View details for Rage">Rage</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">20</td> <td class="cell-num">100</td>
<td class="text-small">Generation 1 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/reflect" title="View details for Reflect">Reflect</a></td>
<td class="cell-icon"><a class="type-icon type-psychic" href="/type/psychic">Psychic</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
<td class="text-small">Generation 1 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/self-destruct" title="View details for Self-Destruct">Self-Destruct</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">200</td> <td class="cell-num">100</td>
<td class="text-small">Generation 1 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/teleport" title="View details for Teleport">Teleport</a></td>
<td class="cell-icon"><a class="type-icon type-psychic" href="/type/psychic">Psychic</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
<td class="text-small">Generation 1 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/tri-attack" title="View details for Tri Attack">Tri Attack</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">80</td> <td class="cell-num">100</td>
<td class="text-small">Generation 1 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/curse" title="View details for Curse">Curse</a></td>
<td class="cell-icon"><a class="type-icon type-ghost" href="/type/ghost">Ghost</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
<td class="text-small">Generation 2 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/double-edge" title="View details for Double-Edge">Double-Edge</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">120</td> <td class="cell-num">100</td>
<td class="text-small">Generation 3 — Move tutor</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/mimic" title="View details for Mimic">Mimic</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
<td class="text-small">Generation 3 — Move tutor</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/captivate" title="View details for Captivate">Captivate</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">100</td>
<td class="text-small">Generation 4 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/endure" title="View details for Endure">Endure</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
<td class="text-small">Generation 4 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/natural-gift" title="View details for Natural Gift">Natural Gift</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">100</td>
<td class="text-small">Generation 4 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/swift" title="View details for Swift">Swift</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num num-infinity" data-sort-value="101">∞</td>
<td class="text-small">Generation 4 — Move tutor</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/secret-power" title="View details for Secret Power">Secret Power</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">70</td> <td class="cell-num">100</td>
<td class="text-small">Generation 6 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/dive" title="View details for Dive">Dive</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">80</td> <td class="cell-num">100</td>
<td class="text-small">Generation 6 — HM</td>
</tr>
</tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="int"><div class="sortwrap">Lv.</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> </tr></thead>
<tbody>
<tr>
<td class="cell-num">1</td>
<td class="cell-name"><a class="ent-name" href="/move/tackle" title="View details for Tackle">Tackle</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">40</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">1</td>
<td class="cell-name"><a class="ent-name" href="/move/water-gun" title="View details for Water Gun">Water Gun</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">40</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">4</td>
<td class="cell-name"><a class="ent-name" href="/move/withdraw" title="View details for Withdraw">Withdraw</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">8</td>
<td class="cell-name"><a class="ent-name" href="/move/supersonic" title="View details for Supersonic">Supersonic</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">55</td>
</tr>
<tr>
<td class="cell-num">13</td>
<td class="cell-name"><a class="ent-name" href="/move/icicle-spear" title="View details for Icicle Spear">Icicle Spear</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">25</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">16</td>
<td class="cell-name"><a class="ent-name" href="/move/protect" title="View details for Protect">Protect</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">20</td>
<td class="cell-name"><a class="ent-name" href="/move/leer" title="View details for Leer">Leer</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">25</td>
<td class="cell-name"><a class="ent-name" href="/move/clamp" title="View details for Clamp">Clamp</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">35</td> <td class="cell-num">85</td>
</tr>
<tr>
<td class="cell-num">28</td>
<td class="cell-name"><a class="ent-name" href="/move/ice-shard" title="View details for Ice Shard">Ice Shard</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">40</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">32</td>
<td class="cell-name"><a class="ent-name" href="/move/razor-shell" title="View details for Razor Shell">Razor Shell</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">75</td> <td class="cell-num">95</td>
</tr>
<tr>
<td class="cell-num">37</td>
<td class="cell-name"><a class="ent-name" href="/move/aurora-beam" title="View details for Aurora Beam">Aurora Beam</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">65</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">40</td>
<td class="cell-name"><a class="ent-name" href="/move/whirlpool" title="View details for Whirlpool">Whirlpool</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">35</td> <td class="cell-num">85</td>
</tr>
<tr>
<td class="cell-num">44</td>
<td class="cell-name"><a class="ent-name" href="/move/brine" title="View details for Brine">Brine</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">65</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">49</td>
<td class="cell-name"><a class="ent-name" href="/move/iron-defense" title="View details for Iron Defense">Iron Defense</a></td>
<td class="cell-icon"><a class="type-icon type-steel" href="/type/steel">Steel</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">52</td>
<td class="cell-name"><a class="ent-name" href="/move/ice-beam" title="View details for Ice Beam">Ice Beam</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">90</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">56</td>
<td class="cell-name"><a class="ent-name" href="/move/shell-smash" title="View details for Shell Smash">Shell Smash</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">61</td>
<td class="cell-name"><a class="ent-name" href="/move/hydro-pump" title="View details for Hydro Pump">Hydro Pump</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">110</td> <td class="cell-num">80</td>
</tr>
</tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> </tr></thead>
<tbody>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/aqua-ring" title="View details for Aqua Ring">Aqua Ring</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/avalanche" title="View details for Avalanche">Avalanche</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/barrier" title="View details for Barrier">Barrier</a></td>
<td class="cell-icon"><a class="type-icon type-psychic" href="/type/psychic">Psychic</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/bubble-beam" title="View details for Bubble Beam">Bubble Beam</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">65</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/icicle-spear" title="View details for Icicle Spear">Icicle Spear</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">25</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/mud-shot" title="View details for Mud Shot">Mud Shot</a></td>
<td class="cell-icon"><a class="type-icon type-ground" href="/type/ground">Ground</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">55</td> <td class="cell-num">95</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/rapid-spin" title="View details for Rapid Spin">Rapid Spin</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">20</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/rock-blast" title="View details for Rock Blast">Rock Blast</a></td>
<td class="cell-icon"><a class="type-icon type-rock" href="/type/rock">Rock</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">25</td> <td class="cell-num">90</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/screech" title="View details for Screech">Screech</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">85</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/take-down" title="View details for Take Down">Take Down</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">90</td> <td class="cell-num">85</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/twineedle" title="View details for Twineedle">Twineedle</a></td>
<td class="cell-icon"><a class="type-icon type-bug" href="/type/bug">Bug</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">25</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/water-pulse" title="View details for Water Pulse">Water Pulse</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num">100</td>
</tr>
</tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="int"><div class="sortwrap">TM</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> </tr></thead>
<tbody>
<tr>
<td class="cell-num">6</td>
<td class="cell-name"><a class="ent-name" href="/move/toxic" title="View details for Toxic">Toxic</a></td>
<td class="cell-icon"><a class="type-icon type-poison" href="/type/poison">Poison</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">90</td>
</tr>
<tr>
<td class="cell-num">7</td>
<td class="cell-name"><a class="ent-name" href="/move/hail" title="View details for Hail">Hail</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">10</td>
<td class="cell-name"><a class="ent-name" href="/move/hidden-power" title="View details for Hidden Power">Hidden Power</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">13</td>
<td class="cell-name"><a class="ent-name" href="/move/ice-beam" title="View details for Ice Beam">Ice Beam</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">90</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">14</td>
<td class="cell-name"><a class="ent-name" href="/move/blizzard" title="View details for Blizzard">Blizzard</a></td>
<td class="cell-icon"><a class="type-icon type-ice" href="/type/ice">Ice</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">110</td> <td class="cell-num">70</td>
</tr>
<tr>
<td class="cell-num">17</td>
<td class="cell-name"><a class="ent-name" href="/move/protect" title="View details for Protect">Protect</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">18</td>
<td class="cell-name"><a class="ent-name" href="/move/rain-dance" title="View details for Rain Dance">Rain Dance</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">21</td>
<td class="cell-name"><a class="ent-name" href="/move/frustration" title="View details for Frustration">Frustration</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">27</td>
<td class="cell-name"><a class="ent-name" href="/move/return" title="View details for Return">Return</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">32</td>
<td class="cell-name"><a class="ent-name" href="/move/double-team" title="View details for Double Team">Double Team</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">42</td>
<td class="cell-name"><a class="ent-name" href="/move/facade" title="View details for Facade">Facade</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">70</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">44</td>
<td class="cell-name"><a class="ent-name" href="/move/rest" title="View details for Rest">Rest</a></td>
<td class="cell-icon"><a class="type-icon type-psychic" href="/type/psychic">Psychic</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">45</td>
<td class="cell-name"><a class="ent-name" href="/move/attract" title="View details for Attract">Attract</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">48</td>
<td class="cell-name"><a class="ent-name" href="/move/round" title="View details for Round">Round</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">64</td>
<td class="cell-name"><a class="ent-name" href="/move/explosion" title="View details for Explosion">Explosion</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">250</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">66</td>
<td class="cell-name"><a class="ent-name" href="/move/payback" title="View details for Payback">Payback</a></td>
<td class="cell-icon"><a class="type-icon type-dark" href="/type/dark">Dark</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">50</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">87</td>
<td class="cell-name"><a class="ent-name" href="/move/swagger" title="View details for Swagger">Swagger</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">85</td>
</tr>
<tr>
<td class="cell-num">88</td>
<td class="cell-name"><a class="ent-name" href="/move/sleep-talk" title="View details for Sleep Talk">Sleep Talk</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">90</td>
<td class="cell-name"><a class="ent-name" href="/move/substitute" title="View details for Substitute">Substitute</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
<tr>
<td class="cell-num">94</td>
<td class="cell-name"><a class="ent-name" href="/move/surf" title="View details for Surf">Surf</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">90</td> <td class="cell-num">100</td>
</tr>
<tr>
<td class="cell-num">100</td>
<td class="cell-name"><a class="ent-name" href="/move/confide" title="View details for Confide">Confide</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
</tr>
</tbody>
</table><table class="data-table">
<thead><tr>
<th class="sorting" data-sort="string"><div class="sortwrap">Move</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Type</div></th> <th class="sorting" data-sort="string"><div class="sortwrap">Cat.</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Power</div></th> <th class="sorting" data-sort="int" data-blanks="1"><div class="sortwrap">Acc.</div></th> <th><div class="sortwrap">Method</div></th> </tr></thead>
<tbody>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/bide" title="View details for Bide">Bide</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
<td class="text-small">Generation 1 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/rage" title="View details for Rage">Rage</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">20</td> <td class="cell-num">100</td>
<td class="text-small">Generation 1 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/reflect" title="View details for Reflect">Reflect</a></td>
<td class="cell-icon"><a class="type-icon type-psychic" href="/type/psychic">Psychic</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
<td class="text-small">Generation 1 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/self-destruct" title="View details for Self-Destruct">Self-Destruct</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">200</td> <td class="cell-num">100</td>
<td class="text-small">Generation 1 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/teleport" title="View details for Teleport">Teleport</a></td>
<td class="cell-icon"><a class="type-icon type-psychic" href="/type/psychic">Psychic</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
<td class="text-small">Generation 1 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/tri-attack" title="View details for Tri Attack">Tri Attack</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">80</td> <td class="cell-num">100</td>
<td class="text-small">Generation 1 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/curse" title="View details for Curse">Curse</a></td>
<td class="cell-icon"><a class="type-icon type-ghost" href="/type/ghost">Ghost</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
<td class="text-small">Generation 2 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/double-edge" title="View details for Double-Edge">Double-Edge</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">120</td> <td class="cell-num">100</td>
<td class="text-small">Generation 3 — Move tutor</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/mimic" title="View details for Mimic">Mimic</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
<td class="text-small">Generation 3 — Move tutor</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/captivate" title="View details for Captivate">Captivate</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">100</td>
<td class="text-small">Generation 4 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/endure" title="View details for Endure">Endure</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="status" data-filter-val="status"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/status.png" data-alt="Status" title="Status" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">—</td>
<td class="text-small">Generation 4 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/natural-gift" title="View details for Natural Gift">Natural Gift</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">—</td> <td class="cell-num">100</td>
<td class="text-small">Generation 4 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/swift" title="View details for Swift">Swift</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="special" data-filter-val="special"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/special.png" data-alt="Special" title="Special" style="width:39px; height:16px"></span></td> <td class="cell-num">60</td> <td class="cell-num num-infinity" data-sort-value="101">∞</td>
<td class="text-small">Generation 4 — Move tutor</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/secret-power" title="View details for Secret Power">Secret Power</a></td>
<td class="cell-icon"><a class="type-icon type-normal" href="/type/normal">Normal</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">70</td> <td class="cell-num">100</td>
<td class="text-small">Generation 6 — TM</td>
</tr>
<tr>
<td class="cell-name"><a class="ent-name" href="/move/dive" title="View details for Dive">Dive</a></td>
<td class="cell-icon"><a class="type-icon type-water" href="/type/water">Water</a></td>
<td class="cell-icon" data-sort-value="physical" data-filter-val="physical"><span class="img-fixed" data-src="https://img.pokemondb.net/images/icons/physical.png" data-alt="Physical" title="Physical" style="width:39px; height:16px"></span></td> <td class="cell-num">80</td> <td class="cell-num">100</td>
<td class="text-small">Generation 6 — HM</td>
</tr>
</tbody>
</table><table class="data-table sprites-table sprites-history-table" data-pkname="Shellder" data-pkalias="shellder">
<thead>
<tr>
<th>Type</th>
<th>Generation 1</th>
<th>Generation 2</th>
<th>Generation 3</th>
<th>Generation 4</th>
<th>Generation 5</th>
<th>Generation 6</th>
<th>Generation 7</th>
</tr>
</thead>
<tbody>
<tr>
<td><b>Normal</b></td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/red-blue/normal/shellder.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v1" src="https://img.pokemondb.net/sprites/red-blue/normal/shellder.png" alt="Shellder  sprite from Red &amp; Blue"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/silver/normal/shellder.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v3" src="https://img.pokemondb.net/sprites/silver/normal/shellder.png" alt="Shellder  sprite from Silver"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/ruby-sapphire/normal/shellder.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v5" src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/shellder.png" alt="Shellder  sprite from Ruby &amp; Sapphire"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/diamond-pearl/normal/shellder.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v8" src="https://img.pokemondb.net/sprites/diamond-pearl/normal/shellder.png" alt="Shellder  sprite from Diamond &amp; Pearl"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/black-white/normal/shellder.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v11" src="https://img.pokemondb.net/sprites/black-white/normal/shellder.png" alt="Shellder  sprite from Black &amp; White"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/x-y/normal/shellder.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v13" src="https://img.pokemondb.net/sprites/x-y/normal/shellder.png" alt="Shellder  sprite from X &amp; Y" style="width:120px; height:120px"></a> </td>
<td class="text-center">
—
</td>
</tr>
<tr>
<td><b>Shiny</b></td>
<td class="text-center">
—
</td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/silver/shiny/shellder.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v3" src="https://img.pokemondb.net/sprites/silver/shiny/shellder.png" alt="Shellder Shiny sprite from Silver"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/ruby-sapphire/shiny/shellder.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v5" src="https://img.pokemondb.net/sprites/ruby-sapphire/shiny/shellder.png" alt="Shellder Shiny sprite from Ruby &amp; Sapphire"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/diamond-pearl/shiny/shellder.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v8" src="https://img.pokemondb.net/sprites/diamond-pearl/shiny/shellder.png" alt="Shellder Shiny sprite from Diamond &amp; Pearl"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/black-white/shiny/shellder.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v11" src="https://img.pokemondb.net/sprites/black-white/shiny/shellder.png" alt="Shellder Shiny sprite from Black &amp; White"></a> </td>
<td class="text-center">
<a href="https://img.pokemondb.net/sprites/x-y/shiny/shellder.png" class="sprite-share-link " title="Click to use/share this sprite"><img class="img-fixed img-sprite-v13" src="https://img.pokemondb.net/sprites/x-y/shiny/shellder.png" alt="Shellder Shiny sprite from X &amp; Y" style="width:120px; height:120px"></a> </td>
<td class="text-center">
—
</td>
</tr>
</tbody>
</table><table class="vitals-table">
<tbody>
<tr>
<th>
<span class="igame red">Red</span><br><span class="igame blue">Blue</span>
</th>
<td>
<a href="/location/kanto-route-6">Route 6</a>, <a href="/location/kanto-route-11">11</a>, <a href="/location/kanto-route-19">19</a>, <a href="/location/kanto-route-20">20</a>, <a href="/location/kanto-route-21">21</a>, <a href="/location/kanto-seafoam-islands">Seafoam Islands</a>, <a href="/location/kanto-vermilion-city">Vermilion City</a>
</td>
</tr>
<tr>
<th><span class="igame yellow">Yellow</span></th>
<td>
<a href="/location/kanto-route-17">Route 17</a>, <a href="/location/kanto-route-18">18</a>, <a href="/location/kanto-vermilion-city">Vermilion City</a>
</td>
</tr>
<tr>
<th>
<span class="igame gold">Gold</span><br><span class="igame silver">Silver</span>
</th>
<td>
<a href="/location/kanto-route-26">Route 26</a>, <a href="/location/kanto-route-27">27</a>, <a href="/location/johto-new-bark-town">New Bark Town</a>, <a href="/location/johto-olivine-city">Olivine City</a>, <a href="/location/kanto-pallet-town">Pallet Town</a>, <a href="/location/johto-union-cave">Union Cave</a>, <a href="/location/kanto-vermilion-city">Vermilion City</a>
</td>
</tr>
<tr>
<th><span class="igame crystal">Crystal</span></th>
<td>
<a href="/location/kanto-route-26">Route 26</a>, <a href="/location/kanto-route-27">27</a>, <a href="/location/johto-new-bark-town">New Bark Town</a>, <a href="/location/kanto-pallet-town">Pallet Town</a>, <a href="/location/kanto-vermilion-city">Vermilion City</a>
</td>
</tr>
<tr>
<th>
<span class="igame ruby">Ruby</span><br><span class="igame sapphire">Sapphire</span>
</th>
<td><small>Trade/migrate from another game</small></td>
</tr>
<tr>
<th><span class="igame firered">FireRed</span></th>
<td>
<a href="/location/kanto-cinnabar-island">Cinnabar Island</a>, <a href="/location/kanto-five-island">Five Island</a>, <a href="/location/kanto-icefall-cave">Icefall Cave</a>, <a href="/location/kanto-one-island">One Island</a>, <a href="/location/kanto-pallet-town">Pallet Town</a>, <a href="/location/kanto-vermilion-city">Vermilion City</a>
</td>
</tr>
<tr>
<th>
<span class="igame leafgreen">LeafGreen</span><br><span class="igame emerald">Emerald</span>
</th>
<td><small>Trade/migrate from another game</small></td>
</tr>
<tr>
<th>
<span class="igame diamond">Diamond</span><br><span class="igame pearl">Pearl</span><br><span class="igame platinum">Platinum</span>
</th>
<td>
<a href="/location/sinnoh-route-205">Route 205</a>, <a href="/location/sinnoh-fuego-ironworks">Fuego Ironworks</a>, <a href="/location/sinnoh-valley-windworks">Valley Windworks</a>
</td>
</tr>
<tr>
<th>
<span class="igame heartgold">HeartGold</span><br><span class="igame soulsilver">SoulSilver</span>
</th>
<td>
<a href="/location/kanto-route-20">Route 20</a>, <a href="/location/kanto-route-21">21</a>, <a href="/location/kanto-route-26">26</a>, <a href="/location/kanto-route-27">27</a>, <a href="/location/johto-route-41">41</a>, <a href="/location/johto-route-47">47</a>, <a href="/location/kanto-cinnabar-island">Cinnabar Island</a>, <a href="/location/johto-new-bark-town">New Bark Town</a>, <a href="/location/kanto-pallet-town">Pallet Town</a>, <a href="/location/kanto-vermilion-city">Vermilion City</a>
</td>
</tr>
<tr>
<th>
<span class="igame black">Black</span><br><span class="igame white">White</span>
</th>
<td>
<a href="/location/unova-route-13">Route 13</a>, <a href="/location/unova-undella-bay">Undella Bay</a>, <a href="/location/unova-undella-town">Undella Town</a>
</td>
</tr>
<tr>
<th>
<span class="igame black-2">Black 2</span><br><span class="igame white-2">White 2</span>
</th>
<td>
<a href="/location/unova-route-13">Route 13</a>, <a href="/location/unova-undella-town">Undella Town</a>, <a href="/location/unova-humilau-city">Humilau City</a>, <a href="/location/unova-seaside-cave">Seaside Cave</a>
</td>
</tr>
<tr>
<th><span class="igame x">X</span></th>
<td><small>Trade/migrate from another game</small></td>
</tr>
<tr>
<th><span class="igame y">Y</span></th>
<td><a href="/location/kalos-route-8">Route 8</a></td>
</tr>
<tr>
<th>
<span class="igame omega-ruby">Omega Ruby</span><br><span class="igame alpha-sapphire">Alpha Sapphire</span>
</th>
<td><small>Trade/migrate from another game</small></td>
</tr>
<tr>
<th>
<span class="igame sun">Sun</span><br><span class="igame moon">Moon</span>
</th>
<td>
<a href="/location/alola-kalae-bay">Kala'e Bay</a>, <a href="/location/alola-poke-pelago">Poké Pelago</a>
</td>
</tr>
<tr>
<th>
<span class="igame ultra-sun">Ultra Sun</span><br><span class="igame ultra-moon">Ultra Moon</span>
</th>
<td><a href="/location/alola-kalae-bay">Kala'e Bay</a></td>
</tr>
</tbody>
</table><table class="vitals-table">
<tbody>
<tr>
<th>English</th>
<td>Shellder</td>
</tr>
<tr>
<th>Japanese</th>
<td>シェルダー (Shellder)</td>
</tr>
<tr>
<th>German</th>
<td>Muschas</td>
</tr>
<tr>
<th>French</th>
<td>Kokiyas</td>
</tr>
</tbody>
</table>